fastapi==0.115.12
uvicorn==0.34.0
pymilvus==2.5.6
psycopg2-binary==2.9.10  
python-multipart==0.0.20
PyMuPDF==1.24.14
aiofiles==23.2.1
python-dotenv==1.1.0
boto3==1.37.24
pydantic==2.11.1
langchain-ollama==0.3.0
langchain-community==0.3.20
langchain-core==0.3.49
langchain-text-splitters==0.3.7
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
PyPDF2==3.0.1
celery[redis]==5.5.2
redis==5.3.0